textarea {
  font-family: "Poppins", sans-serif;
  width: 90%;
  height: 90%;
  background: transparent;
  border: none;
  resize: none;
  color: $colour-2;
  font-size: 2rem;
  scrollbar-width: thin;
  scrollbar-color: $colour-1 $colour-1;
  &:focus {
    outline: none;
  }
}

button{
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: none;
  background: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  i{
    font-size: 20px;
    color: $colour-1;
  }
  :hover{
    cursor: pointer;
  }
}
